.container {
    position: relative;
    width: fit-content;
    height: fit-content;

    &:hover {
        & img {
            filter: brightness(0.5);
        }
        & div.textContainer {
            display: flex;
        }
    }
    & img {
        transition: all .8s ease;
        min-width: 150px;
    }
}

.textContainer {
    margin: 0;
    position: absolute;
    display: none;
    gap: .2rem;
    align-items: center;
    color: var(--mantine-color-white);
    font-size: medium;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .8s ease;
}