.grid {
    border-bottom: 1px solid var(--mantine-color-gray-1);
    margin-top: var(--mantine-spacing-sm);
    &:last-child {
        border-bottom: 0;
    }
};

.label {
    text-align: right;
    font-weight: 700;
    color: var(--mantine-color-gray-6);
    font-size: 12px;
    text-transform: uppercase;
};

.value {
    font-weight: 600;
    text-align: left;
};

.container {
    border-radius: var(--mantine-radius-lg);
    padding: 20px;
    border: 1px solid var(--mantine-color-gray-2);
    margin: 1rem;
};

.group {
    border-width: 1px;
    border-style: solid;
    border-color: var(--mantine-color-gray-1);
    border-radius: var(--mantine-radius-md);
    margin-top: var(--mantine-spacing-md);
    margin-bottom: var(--mantine-spacing-md);
    padding: var(--mantine-spacing-md);
};

.table {
    width: 100%;
    tbody > tr > td {
        font-weight: 400;
    }
};