.bodyWrapper {
    overflow: auto;
    flex: 1;
    padding: rem(10px);
    background-color: var(--mantine-color-gray-0);
}

.pageWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    padding: rem(10px);
    background-color: var(--mantine-color-gray-0);
    align-items: center;
    background-color: white;
    min-height: 65px;
    border-bottom: 1px solid var(--mantine-color-gray-3)
};

.pageChildren {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: rem(5px);
}